body {
  background-color: #1e293b;
  height: 100%;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 90px;
  color: white;
}

ul {
  list-style: none;
}

ul li {
  text-align: center;
  text-decoration: none;

  padding-top: 40px;
  padding-bottom: 40px;
}

a {
  font-size: 45px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
